.hidden{
    display: none;
}
a.nav-link:hover, a.nav-link.active{
    border-bottom: solid 5px #00b0dc;
    cursor:pointer
}
li.nav-item{
    border-bottom: solid 5px transparent;
    cursor:pointer
}
nav.navbar.navbar-transparent{
    img.logo_1{
    }
    img.logo_2{
        display:none

    }
}
    img.logo_2{
        height: 100px;
        float: left;
        margin: -28px;
    }