<div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title">Preços</h2>
    <p class="description">The kit comes with three pre-built pages to help you get started faster.
        You can change the text and images and you're good to go. More importantly, looking at them
        will give you a picture of what you can built with this powerful kit.</p>
        <p>.</p>
        <p>.</p>
</div>
<div class="demo10">
    <div class="container">
        
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Grátis</h3>
                        <span class="price-value">
                            <span class="currency">AKZ</span> 0
                            <span class="month">/mês</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>Desafios</li>
                            <li>Gestãod e compromissos</li>
                            <li>Diagnósticos</li>
                            <li>Notícias<br>-<br>-<br></li>
                        </ul>
                        <a href="#" class="read">Assinar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Básico</h3>
                        <span class="price-value">
                            <span class="currency">AKZ</span> 4.000
                            <span class="month">/mês</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>Vagas de Emprego</li>
                            <li>Cursos online</li>
                            <li>Objectivos e planos de acção</li>
                            <li>Controlo financéiro</li>
                            <li>Feedback 360º</li>
                        </ul>
                        <a href="#" class="read">Assinar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">PROFISSIONAL</h3>
                        <span class="price-value">
                            <span class="currency">AKZ</span> 10.000
                            <span class="month">/mês</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>Gestão de carréira</li>
                            <li>Coaching online</li>
                            <li>Plano de
                                desenvolvimento de
                                competências<br>-<br>-<br>-<br></li>
                        </ul>
                        <a href="#" class="read">Assinar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>