<div class="container">

    <div class="col-md-12">
        <h1 class="text-center" style="color: #FFF;">Anúncio de vagas de emprego</h1>
    </div>
    <div class="col-md-12" >
        <p class="text-center" style="color: #FFF; margin:50px">
            Os utilizadores da nossa aplicação
            são pessoas comprometidas em melhorar o seu desempenho tanto pessoal como profissional. Nos na Everest
            apoiamos os nossos clientes no alcance desse propósito.
            Por isso, temos a disposição das empresas e instituições uma base de dados com melhores candidatos do
            mercado para responder às necessidades de pessoal.
            
        </p>
    </div>
    <div class="row">
        <section class="product">
            <div class="product__photo">
                <div class="photo-container">
                    <div class="photo-main">
                        <img src="https://res.cloudinary.com/john-mantas/image/upload/v1537291846/codepen/delicious-apples/green-apple-with-slice.png"
                            alt="green apple slice">
                    </div>
                </div>
            </div>
            <div class="product__info">
                <div style="max-width:300px; height:250px">

                </div>

                <button class="buy--btn">Anuncie aqui</button>
            </div>
        </section>

    </div>
</div>