.main{
    background-image: url('http://localhost:4200/assets/img/testimonial/template_2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 620px ;
    width:875px;
    padding:15px
}
img{
    display: block !important;
}